<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Academic</h2>
                    <h3 class="section-subheading text-muted">My academic life.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ufrj.png" alt="UFRJ">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2014</h4>
                                    <h4 class="subheading">Computer Science BSc</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Computer Science Bachelor's Degree at the Federal University of Rio de Janeiro. My thesis was about a peer-to-peer protocol with caching, the code is available <a href="https://code.google.com/p/push-peer-protocol">here</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/pesc.png" alt="PESC">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-Current</h4>
                                    <h4 class="subheading">Artificial Intelligence MSc</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Currently an Artificial Intelligence Master's Degree student at the System Engineering and Computer Science Program (PESC/COPPE). My thesis is in development and will be about a fuzzy dynamic epistemic logic.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
