<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content="#{{ site.color.primary | upcase }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" sizes="16x16 32x32" href="favicon.ico">
  <link rel="icon" type="image/png" sizes="256x256" href="favicon.png">

  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta content="website" property="og:type" />
  <meta content="{{ site.title }}" property="og:site_name" />
  <meta content="{{ site.title }}" property="og:title" />
  <meta content="{{ site.description }}" property="og:description" />
  <meta content="{{ site.url }}" property="og:url" />
  <meta content="{{ site.image | absolute_url }}" property="og:image" />

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="{{ "/style.css" | prepend: site.baseurl }}" rel="preload" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}"></noscript>

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Handlee&display=swap"></noscript>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"></noscript>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic&display=swap"></noscript>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="preload" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"></noscript>

  <!-- Font Awesome 5 -->
  <script defer src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>