<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Knowledge</h2>
                    <h3 class="section-subheading text-muted">Stuff I know about.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 fa-4x">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle text-primary" data-fa-transform="grow-12"></i>
                        <i class="fas fa-globe fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Languages</h4>
                    <p class="text-muted">Brazilian Portuguese is my native language. I have good English reading/writing skills (TOEFL ITP: 667/677), and reasonable speaking. By the way, check out my <a href="/blog" target="_blank">blog</a>!</p>
                </div>
                <div class="col-md-4 fa-4x">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle text-primary" data-fa-transform="grow-12"></i>
                        <i class="fas fa-laptop fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Developer skills</h4>
                    <p class="text-muted">I have extensive experience with JavaScript and TypeScript, Node.js, Angular 2, and many JavaScript frameworks. I also use Java stacks, JSP (Hibernate) and JAX-RS. I've used C/C++, PHP (GetSimple CMS), and a little bit of Python. I have considerable SQL (mostly PostgreSQL) practical knowledge. I've done testing with TestNG, jUnit and Selenium WebDriver/GRID. I'm used to virtualization (VirtualBox, Vagrant), containerization (Docker), and both Windows and Linux environments.</p>
                </div>
                <div class="col-md-4 fa-4x">
                    <span class="fa-layers fa-fw">
                        <i class="fas fa-circle text-primary" data-fa-transform="grow-12"></i>
                        <i class="fas fa-camera-retro fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Photo & design</h4>
                    <p class="text-muted">I know my way with a camera. I shoot RAW and post-process with Adobe Lightroom and sometimes GIMP. I can do some pretty decent vector art as well using Inkscape. You can find my photos <a href="https://www.flickr.com/photos/vitormach/" target="_blank">here</a> and <a href="https://instagram.com/vitor.p.mach/" target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </section>
